<html>
  <head>
    <title>MUSIC TIMER</title>
    <link rel="shortcut icon" href= "{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href = "{{ url_for('static', filename='style.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="floating container" >
      <div>
        <h1><b>MUSIC TIMER</b></h1>
        <br>
        <form action='/' method='POST'>
          <div>
          <h5>HOW LONG U WANT COOK</h5>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Time">
            <span class="input-group-addon">minutes</span>
          </div>
          <h5>WHAT KIND MUSIC YOU LIKE</h5>
          </div>
          <input name="genre" class="form-control" type="text" />
          <br>
          <br>
          <input type="submit" class="btn btn-default" value="PLAY ME A SONG"/>
        </form>
        <div id="player">
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='timer.js')}}"></script>
  </body>
</html>