<html>
  <head>
    <title>Music Timer!!!!</title>
    <link rel="shortcut icon" href= "{{ url_for('static', filename='favicon.ico') }}" />
    <link type="text/css" href = "{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Music Timer!!!!!!</h1>
    <form action='/' method='POST'>
      HOW LONG (in hours) U WANT COOK
      <input name="time" type="text" /> 
      <br>
      WHAT KIND MUSIC YOU LIKE
      <input name="genre" type="text" />
      <br>
      <input type="submit" value="PLAY ME A SONG"/>
    </form>
    <div id="player">
    </div>
  </body>
</html>